.user-extend {
    background: #000;
    text-align: center;
    padding: 25px;
}

.user-extend .user-text {
    margin-bottom: 10px;
    font-size: 15px;
    color: #AEB6BF;
}

.user-extend .user-image {
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #D4AC0D;
}

.user-extend .back {
    margin-bottom: 15px;
}

.user-text .form-item {
    display: inline-block;
    width: auto;
    margin-left: 15px;
}

