.user-state {
    display: inline-block;
    background: #000;
}

.user-state .user-state-block {
    display: inline-block;
    margin-left: 15px;
    padding: 3px 8px;
    cursor: pointer;
}
.user-state .user-state-block.active {
    background-color: #17202A;
}

.user-status {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 6px;
    height: 6px;
    background-color: #AEB6BF;
    border-radius: 50%;
}

.user-status.not-active {
    background-color: #D91E18;
}

.user-status.in-progress {
    background-color: #2ECC71;
}

.user-status.complete {
    background-color: #D4AC0D;
}