.user-profile-container {
    height: 146px;
    padding: 20px;
    background-color: #17202A;
    cursor: pointer;
    transition: background-color .4s ease;
}

.user-profile-container:hover {
    background-color: #0E141A;
}

.user-profile-container .user-image-profile {
    float: left;
}

.user-profile-container .user-info-profile {
    text-align: left;
}

.user-info-profile .user-name {
    color: #D4AC0D;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
}

.user-info-profile .user-info {
    font-size: 13px;
    color: #AEB6BF;
}
.user-info-profile .user-mail {
    font-size: 13px;
    color: #dbe4e6;
}

.user-info-profile .user-mail:hover {
    color: #fff;
}

.user-image-profile .user-image {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 50%;
}
