body {
    margin: 0;
    padding: 0;
    background: #181818;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover
a:visited,
a:link,
a:active {
    text-decoration: none;
}


.button {
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: #17202A;
    color: #AEB6BF;
    transition: all .2s ease;
}

.button:hover {
    background-color: #0E141A;
    color: #fff;
}

.button-alert {
    color: #fff;
    background-color: #D64541;
}
.button-alert:hover {
    background-color: #a72724;
}

.button-apply {
    color: #fff;
    background-color: #2da560;
}

.button-apply:hover {
    background-color: #248e51;
}

.button-groups .button {
    margin-right: 10px;
}

.button-groups .button:last-child {
    margin-right: 0;
}